<!-- Header Component HTML Template -->
<header>

    <!-- The logo of the website -->
    <div class="logo">
        <img src="logo.jpg" alt="logo" />
    </div>
    
    <!-- The Nav bar of the website -->
    <div class="bar">
        <ul>
            <li routerLink="" routerLinkActive="active-link" 
            [routerLinkActiveOptions]="{ exact: true }">  <i class="fas fa-home"></i><a class="gradient-text"> Home</a></li>
            <li><a class="gradient-text">About</a></li>
            <li><a class="gradient-text">Projects</a></li>
            <li><a class="gradient-text">Blog</a></li>
            <li><a class="gradient-text">Contacts</a></li>
        </ul>
    </div>
    <div class="join-us">
        <span>Join-us</span>
        <div class="arrow-container">
            <i class="fas fa-arrow-right arrow"></i>
        </div>
    </div>
</header>