<footer>
    <div class="logo">
        <img src="logo.jpg" alt="logo" />
    </div>
    <div class="cop">
        <p>&#64; 2024 Heaven’s Labs, Inc. All rights reserved.</p>
    </div>
    <div class="social-buttons">
        <a href="https://github.com/HeavensLabs/.github" target="_blank" class="btn-icon">
          <i class="fab fa-github"></i>
        </a>
        <a href="https://www.linkedin.com/company/heaven-s-labs/" target="_blank" class="btn-icon">
          <i class="fab fa-linkedin"></i>
        </a>
        <a href="https://facebook.com" target="_blank" class="btn-icon">
          <i class="fab fa-facebook"></i>
        </a>
      </div>
      
</footer>