<div class="container">
    <div class="title">
        <p>DECOUVREZ L’UNIVERS REVOLUTIONNAIRE DU NUMERIQUE </p>
    </div>
    <div class="subtitle">
        <p>Nous sommes convaincus que la technologie a le pouvoir de transformer des vies et des communautés. </p>
    </div>
    <div class="vision">
        <div class="vision-picture">
            <img src="vision.jpg" alt="picture" />
        </div>
        <div class="vision-text">
            <h3>NOTRE VISION</h3>
            <p>
                Nous sommes convaincus que la technologie a le pouvoir de transformer des vies et des communautés. 
                En offrant une expérience concrète et des opportunités à ceux qui souhaitent apprendre et contribuer, 
                nous souhaitons créer des solutions efficaces tout en favorisant la croissance et le développement de tous les membres.
            </p>
        </div>
    </div>
    <div class="do">
        <h2>CE QUE NOUS FAISONS</h2>
        <div class="content">
            <div class="first">
                <div class="box">
                    <div class="do-icon">
                        <i class="fas fa-project-diagram icon"></i>
                    </div>
                    <h3>Projets collaboratifs</h3>
                    <p>
                        Nous travaillons sur des projets open source qui répondent à des défis
                        du monde réel, offrant aux contributeurs une expérience pratique du
                        développement de logiciels et de la gestion de projets.
                    </p>
                </div>
        
                <div class="box">
                    <div class="do-icon">
                        <i class="fas fa-chalkboard-teacher icon"></i>
                    </div>
                    <h3>Programmes éducatifs</h3>
                    <p>
                        Grâce à des ateliers, au mentorat et à l’apprentissage entre pairs,
                        nous aidons les membres à se perfectionner et à garder une longueur
                        d’avance dans leur carrière.
                    </p>
                </div>
            </div>
            <div class="second">
                <div class="box">
                    <div class="do-icon">
                        <i class="fas fa-users icon"></i>
                    </div>
                    <h3>Engagement communautaire</h3>
                    <p>
                        Nous bâtissons une communauté solidaire et inclusive où les membres
                        peuvent réseauter, partager des idées et grandir ensemble.
                    </p>
                </div>
            </div>
        </div>
    </div>
    <div class="tool-container">
        <div class="tool">
            <img src="goland.png" class="tool-logo" alt="logo" />
        </div>
        <div class="tool">
            <img src="js.png" class="tool-logo" alt="logo" />
        </div>
        <div class="tool">
            <img src="html.png" class="tool-logo" alt="logo" />
        </div>
        <div class="tool">
            <img src="css.png" class="tool-logo" alt="logo" />
        </div>
        <div class="tool">
            <img src="github.png" class="tool-logo" alt="logo" />
        </div>
        <div class="tool">
            <img src="flutter.png" class="tool-logo" alt="logo" />
        </div>
        <div class="tool">
            <img src="angular.png" class="tool-logo" alt="logo" />
        </div>
        <div class="tool">
            <img src="docker.png" class="tool-logo" alt="logo" />
        </div>
    </div>
    <div class="join">
        <div class="header">
            <h2>Impliquez-vous !</h2>
            <p>
                Que vous soyez étudiant, professionnel ou simplement passionné de technologie, 
                il y a une place pour vous chez Heaven's Labs.
            </p>
        </div>
        <div class="body">
            <div class="element">
                <img src="join-picture1.jpg" alt="join-picture-1" />
                <div class="text">
                    <h2>Contribuez aux projets</h2>
                    <p>Explorez nos référentiels GitHub et apportez votre expertise à des projets significatifs.</p>
                </div>
            </div>
        
            <div class="element">
                <img src="join-picture2.jpg" alt="join-picture-2" />
                <div class="text">
                    <h2>Restez informé</h2>
                    <p>Inscrivez-vous pour suivre nos événements, projets et actualités.</p>
                </div>
            </div>
        
            <div class="element">
                 <img src="join-picture3.jpg" alt="join-picture-3" />
                 <div class="text">
                    <h2>Rejoignez les discussions</h2>
                    <p>Participez à nos discussions communautaires dans notre centre de discussions ou sur notre serveur Discord.</p>
                </div>
            </div>
        </div>        
        <div class="footer">
            <span>Nous rejoindre</span>
            <div class="arrow-container">
                <i class="fas fa-arrow-right arrow"></i>
            </div>
        </div>
    </div>
</div>
